{% extends 'base.html.twig' %}
{# home/edit.html.twig #}
{% block title %}Edit Task{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">{{ action.state.value == 'to do' ? 'Begin Task' : 'Validate Task' }}</h1>

        <div class="card mt-4">
            <div class="card-body">
                {% if action.state.value == 'to do' %}
                    {# Begin Action Template #}
                    <div class="alert alert-warning text-center">
                        <h2 class="fw-bold">{{ action.info.value | capitalize }} of an acquisition system on {{ action.room.name }}</h2>
                        <ul class="list-unstyled mt-3">
                            <li><strong>created:</strong> {{ action.createdAt|date('l d F, H:i') }}</li>
                        </ul>
                    </div>
                    <p class="text-info text-center">
                        <i class="bi bi-info-circle"></i>
                        By confirming, the manager will see that you have started the task.
                    </p>
                    <div class="text-center">
                        {% if action.info.value == 'assignment' and noAsAvailable %}
                            {# Display message and link to add AS if none are available #}
                            <div class="alert alert-danger">
                                <p>No Acquisition Systems are available to assign.</p>
                                <a href="{{ path('app_acquisition_system_add', {'from_action': action.id}) }}" class="btn btn-primary">
                                    Add an Acquisition System
                                </a>
                            </div>
                        {% else %}
                            <form action="{{ path('app_begin_action', {id: action.id}) }}" method="post">
                                <button type="submit" class="btn btn-success">Begin</button>
                                <a href="{{ path('app_todolist') }}" class="btn btn-secondary">Cancel</a>
                            </form>
                        {% endif %}
                {% elseif action.state.value == 'doing' %}
                    {# Validate Action Template #}
                    <div class="alert alert-info text-center">
                        <h2 class="fw-bold">
                            {{ action.info.value | capitalize }} of an acquisition system on {{ action.room.name }}
                        </h2>
                        <ul class="list-unstyled mt-3">
                            <li><strong>created:</strong> {{ action.createdAt|date('l d F, H:i') }}</li>
                            <li><strong>begun:</strong> {{ action.startedAt|date('l d F, H:i') }}</li>
                        </ul>
                    </div>
                    <p class="text-info text-center">
                        <i class="bi bi-info-circle"></i>
                        By confirming, you certify that the installation is complete. The manager will be informed.
                    </p>

                <form action="{{ path('app_validate_action', {id: action.id}) }}" method="post">
                    {% if action.info.value == 'assignment' %}
                            <div class="form-group mt-3 text-center">
                                <label for="acquisitionSystem">Choose the acquisition system now assigned for this room :</label>
                                <div class="d-flex justify-content-center mt-4">
                                    <div class="dropdown custom-dropdown" style="width: 200px;">
                                        <select id="acquisitionSystem" name="acquisitionSystem" class="form-select text-center">
                                            <option value="">Choose...</option>
                                            {% for system in acquisitionSystems %}
                                                <option value="{{ system.id }}">{{ system.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                    {% elseif action.info.value == 'maintenance' %}
                        <div class="form-group mt-3 text-center">
                            <label for="maintenanceStatus">Is the acquisition system repaired?</label>
                            <div class="d-flex justify-content-center mt-4">
                                <div class="dropdown custom-dropdown" style="width: 200px;">
                                    <select id="maintenanceStatus" name="maintenanceStatus" class="form-select text-center">
                                        <option value="">Choose...</option>
                                        <option value="yes">Yes, it's repaired</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <p class="text-info text-center mt-3">
                            <i class="bi bi-info-circle"></i> Please indicate if the acquisition system is operational after maintenance.
                        </p>
                    {% else%}
                        <p class="text-warning text-center">This task does not require an acquisition system.</p>
                    {% endif %}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success">Confirm</button>
                        <a href="{{ path('app_todolist') }}" class="btn btn-secondary">Cancel</a>
                    </div>

                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
