{% extends 'base.html.twig' %}
{# rooms/detail.html.twig #}
{% block title %}Room Details - {{ room.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 {% if room.state.value == 'none' %}bg-secondary{%elseif room.state.value == 'waiting' %}bg-primary{% elseif room.state.value == 'stable' %}bg-success{% elseif room.state.value == 'at risk' %}bg-warning{% else %}bg-danger{% endif %} py-5 position-relative">
                <h1 class="text-center text-white mb-0">Room {{ room.name }}</h1>
            </div>
        </div>

        <!-- Description Card -->
        <div class="card w-75 mx-auto mt-4">
            <div class="card-body">
                <h5 class="card-title">General Information</h5>
                <p class="card-text"><strong>Number of Windows :</strong> {{ room.nbWindows }}</p>
                <p class="card-text"><strong>Number of Heaters :</strong> {{ room.nbHeaters }}</p>
                <p class="card-text"><strong>Surface :</strong> {{ room.surface }} m²</p>
                <p class="card-text"><strong>Cardinal Direction:</strong> {{ room.cardinalDirection ? room.cardinalDirection.value | capitalize : 'Non spécifiée' }}</p>
            </div>
        </div>

        <div class="card w-75 mx-auto mt-4">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p class="card-text description">{{ room.description }}</p>
                <p class="card-text floor"><strong>Floor:</strong> {{ room.floor.value | capitalize}}</p>
            </div>
        </div>

        <!-- Room Information Card -->
        <div class="card w-75 mx-auto mt-4">
            <div class="card-body">
                <h5 class="card-title">Room Constants</h5>
                <p class="card-text"><strong>Ambient Room State </strong>
                    <span class="badge-custom-size {% if room.state.value == 'none' %}bg-secondary{%elseif room.state.value == 'waiting' %}bg-primary{% elseif room.state.value == 'stable' %}bg-success{% elseif room.state.value == 'at risk' %}bg-warning{% else %}bg-danger{% endif %}">
                        {{ room.state.value | upper }}
                    </span>
                </p>

                {% if room.acquisitionSystem %}
                    <ul class="list-group">
                        <!-- Temperature -->
                        <li class="list-group-item list-group-item-success">
                            ✅ <strong>Temperature:</strong>
                            {{ room.acquisitionSystem.temperature is not null ? room.acquisitionSystem.temperature ~ '°C' : 'No value measured' }}
                        </li>

                        <!-- Humidity -->
                        <li class="list-group-item list-group-item-success">
                            ✅ <strong>Humidity:</strong>
                            {{ room.acquisitionSystem.humidity is not null ? room.acquisitionSystem.humidity ~ '%' : 'No value measured' }}
                        </li>

                        <!-- CO₂ -->
                        <li class="list-group-item list-group-item-success">
                            ✅️ <strong>CO₂:</strong>
                            {{ room.acquisitionSystem.co2 is not null ? room.acquisitionSystem.co2 ~ ' ppm' : 'No value measured' }}
                            {% if room.acquisitionSystem.co2 is not null and room.acquisitionSystem.co2 > 1000 %}
                                <a href="">See anomaly</a>
                            {% endif %}
                        </li>
                    </ul>
                {% else %}
                    <p class="text-muted">No values</p>
                {% endif %}
            </div>
        </div>
        {% if not room.acquisitionSystem %}
            <div class="card w-75 mx-auto mt-4 text-center">
                <div class="card-body">
                    {% if room.sensorState.value == 'assignment'%}
                        <h6 class="card-title">Pending installation of an acquisition system.</h6>
                        <a href="{{ path('app_rooms_update', { name: room.name }) }}" class="btn btn-outline-primary me-2">Update</a>
                        <a href="{{ path('app_rooms') }}" class="btn btn-outline-secondary">Back to list</a>
                    {% elseif room.sensorState.value == 'unassignment'%}
                        <h6 class="card-title">Pending uninstallation of an acquisition system.</h6>
                        <a href="{{ path('app_rooms_update', { name: room.name }) }}" class="btn btn-outline-primary me-2">Update</a>
                        <a href="{{ path('app_rooms') }}" class="btn btn-outline-secondary">Back to list</a>
                    {% elseif not room.acquisitionSystem %}
                        <h6 class="card-title">No assigned acquisition system.</h6>
                        <a href="{{ path('app_rooms_update', { name: room.name }) }}" class="btn btn-outline-primary me-2">Update</a>
                        <a href="{{ path('app_rooms') }}" class="btn btn-outline-secondary">Back to list</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="card w-75 mx-auto mt-4 text-center">
                <div class="card-body">
                    <h6 class="card-title">An acquisition system is assigned to this room.</h6>
                    <a href="{{ path('app_rooms_update', { name: room.name }) }}" class="btn btn-outline-primary me-2">Update</a>
                    <a href="{{ path('app_rooms') }}" class="btn btn-outline-secondary">Back to list</a>
                </div>
            </div>
        {% endif %}
    </div>



{% endblock %}